*{
  font-family: 'Montserrat', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn, #navbar{
  background-color: #0e2ca5;
  color: whitesmoke;
}

.btn:hover{
  background-color: transparent;
  border: 2px solid #0e2ca5;
  color: #0e2ca5;
}

